/*-----------Header---------------*/
* {
    margin: 0;

}

/* .container{
    background-color: black;
} */
body{
    background-color: #f1f3f6;
}
header{
    background-color: #2874f0;
    /* height: 56px; */
    height: max-content;
    width:auto;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    /* padding-right: 10%; */
    margin-top: 0%;
    flex-wrap: wrap;
    /* border: 5px solid black; */
}


#header-image{
    max-height: 56px;
}
#search{
    margin: auto;
    margin-left: 3px;
    margin-right: 10%;
    flex-shrink: 5;
}
#search-field{
    width: 600px;
    height: 35px;
    flex-shrink: 5;
}

#login{
    margin: 10px;
    margin-left: 5%;

}
#login-btn{
    /* padding: auto; */
    height: 35px;
    width: 125px;
    background-color: white;
    color: #2874f0;
    font-size: 16px;
    font-weight: bold;
    /* box-shadow: none; */
    border: none;
}

#more{
    margin: auto 2px;
    color: white;
    padding-left: 2%;
    font-size: 16px;
    font-weight: bold;
}

#cart{
    /* display: inline-block; */
    /* width: max-content; */
    flex-shrink: 0 ;
    margin: auto 2%;
    color: white;
    padding-left: 2px;
    font-size: 16px;
    font-weight: bold;
 
}


/* Making box layout, color height etc given for that */
/* #nav-bar{
    background-color: red;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    color: beige;
    background-color: black;
    
    
} */

#nav-bar{
    display: flex;
    justify-content: space-evenly;
    /* margin: auto 15%; */
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    
    /* border-bottom: solid black 100%; */
    background-color: white;
    box-shadow: 0px 0.5px gray;

}

.nav-item{
    text-align: center;
}

.nav-image{
    margin: auto;
    max-height: 90px;
    flex-shrink: 3;
}
#main-area{
    float: left;
    width: 100%;
    margin: 1% 5%;
}

#dealsOfDay{
    height: auto;
    width: 70%;
    background-color: #ffffff;
    float: left;

}


#front-line{
    /* border-bottom: black 1px solid; */
    box-shadow: 0px 0.5px gray;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
}
.fl{
    min-width: fit-content;
    padding-left: 20px;
    margin: auto 1px;
}

#demo{
    display: inline;
    text-align: center;
  /* font-size: 20px; */
  margin-top: 0px;

}

#view_all{
   /*    margin-right: 50%; */
   /* padding-left: 50rem; */
   margin-left: 70%; 
}

#below-line{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    padding-top: 5px;
}

.deal_img{
    max-width: 150px;
}

#advertise{
    height: 100px;
    width: 18%;
    /* background-color: #792727; */
    float: left;
    margin-left: 1%;
    text-align: center;
}

#adv-img{
    max-height: 400px;
    /* width: auto; */
}

#desc-line{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-name{
    text-align: center;
}