/*-----------Header---------------*/

header{
    background-color: #2874f0;
    /* height: 56px; */
    height: max-content;
    width:auto;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    /* padding-right: 10%; */
    margin-top: 0%;
    flex-wrap: wrap;
    /* border: 5px solid black; */
}


#header-image{
    max-height: 56px;
}
#search{
    margin: auto;
    margin-left: 3px;
    margin-right: 10%;
    flex-shrink: 5;
}
#search-field{
    width: 600px;
    height: 35px;
    flex-shrink: 5;
}

#login{
    margin: 10px;
    margin-left: 5%;

}
#login-btn{
    /* padding: auto; */
    height: 35px;
    width: 125px;
    background-color: white;
    color: #2874f0;
    font-size: 16px;
    font-weight: bold;
    /* box-shadow: none; */
    border: none;
}

#more{
    margin: auto 2px;
    color: white;
    padding-left: 2%;
    font-size: 16px;
    font-weight: bold;
}

#cart{
    /* display: inline-block; */
    /* width: max-content; */
    flex-shrink: 0 ;
    margin: auto 2%;
    color: white;
    padding-left: 2px;
    font-size: 16px;
    font-weight: bold;
 
}
